<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitfy.gitfyapi.mapper.RepoMapper">


    <select id="getRepos" resultType="repo">
        select platform, owner, repo
        from repos
    </select>

    <insert id="addRepo" parameterType="repo">
        insert into repos(platform, owner, repo)
        values (#{platform}, #{owner}, #{repo})
    </insert>

    <delete id="removeRepo" parameterType="repo">
        delete
        from repos
        where platform = #{platform}
          and owner = #{owner}
          and repo = #{repo}
    </delete>

    <select id="ifRepoExists" resultType="int">
        select count(*)
        from repos
        where platform = #{platform}
          and owner = #{owner}
          and repo = #{repo}
    </select>
</mapper>