<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gitfy.gitfyapi.mapper.UserMapper">


    <insert id="generateUser" parameterType="user">
        insert into users(uid, tg, isadmin)
        values (#{uid}, #{tg}, #{isAdmin})
    </insert>

    <select id="findUserByUid" parameterType="string" resultType="user">
        select uid, tg, isadmin
        from users
        where uid = #{uid}
    </select>

    <insert id="followRepo">
        insert into follows(uid, platform, owner, repo)
        values (#{uid}, #{repo.platform}, #{repo.owner}, #{repo.repo})
    </insert>

    <delete id="unFollowRepo">
        delete
        from follows
        where uid = #{uid}
          and platform = #{repo.platform}
          and owner = #{repo.owner}
          and repo = #{repo.repo}
    </delete>

    <update id="bindTelegram">
        update users
        set tg = #{tg}
        where uid = #{uid}
    </update>

</mapper>